
.name{
	margin: 0;
	padding: 0;
}
	
.name .left{
	list-style: none;
	color: white;
	font-size:50px;
	font-weight: bold;
	letter-spacing: 10px;
	transition: 2s;
	text-shadow: 1px 1px 2px red, 0 0 25px white, 0 0 5px white;
}

.name:hover .left{
	transform: rotate(45deg) translateY(-200px);
	opacity: 0;
	filter: blur(20px);
}

.left:nth-child(1)
{
transition-delay: 0;	
}

.left:nth-child(2)
{
transition-delay: 0.04s;	
}

.left:nth-child(3)
{
transition-delay: 0.08s;	
}

.left:nth-child(4)
{
transition-delay: 0.8s;	
}

.left:nth-child(5)
{
transition-delay: 0.16s;	
}

.left:nth-child(6)
{
transition-delay: 0.20s;	
}

.left:nth-child(6)
{
transition-delay: 0.24s;	
}
/*hi strenger i am*/



.name1 .left1{
	list-style: none;
	color: pink;
	font-size:50px;
	font-weight: bold;
	letter-spacing: 10px;
	transition: 2s;
	text-shadow: 1px 1px 2px red, 0 0 25px white, 0 0 5px white;
}

.left1:hover{
	transform:translateY(-40px);
	color:white; 
	text-shadow: 2px 2px;
}
