/*................loader*.........*/
.loading{
  position: fixed;
  justify-content: center;
  display: flex;
  align-items: center;
  z-index: 9999999;
    background:#fff;
  width: 100%;
  height: 100%;
}


.loader{
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(#14ffe9,#ffeb3b,#ff00e0);
  animation:animate 2s linear infinite;

}

@keyframes animate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.loader span{
  position:absolute;
  width: 100%;
  height: 100%; 
  border-radius: 50%;
  background: linear-gradient(#14ffe9,#ffeb3b,#ff00e0);
}

.loader span:nth-child(1)
{
    filter: blur(10px);
}

.loader span:nth-child(2)
{
    filter: blur(25px);
}

.loader span:nth-child(3)
{ 
    filter: blur(50px);
}

.loader span:nth-child(4)
{
    filter: blur(100px);
}
.loader:after
{
  content: '';
  position:absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background:white;
  border-radius: 50%;
  
}

}
/*progress bar*/



/*.................text Animation ....................*/

.name{
  margin: 0;
  padding: 0;
}
 

.name .left{
  list-style: none;
  color: white;
  font-weight: bold;
  transition: 2s;
  text-shadow: 1px 1px 2px red, 0 0 25px white, 0 0 5px white;
}

.name:hover .left{
  transform: rotate(45deg) translateY(-200px);
  opacity: 0;
  filter: blur(20px);
}

.left:nth-child(1)
{
transition-delay: 0;  
}

.left:nth-child(2)
{
transition-delay: 0.04s;  
}

.left:nth-child(3)
{
transition-delay: 0.08s;  
}

.left:nth-child(4)
{
transition-delay: 0.8s; 
}

.left:nth-child(5)
{
transition-delay: 0.16s;  
}

.left:nth-child(6)
{
transition-delay: 0.20s;  
}

.left:nth-child(6)
{
transition-delay: 0.24s;  
}



.name1 .left1{
  list-style: none;
  color: pink;
  font-weight: bold;
  letter-spacing: auto;
  transition: 2s;
  text-shadow: 1px 1px 2px red, 0 0 25px white, 0 0 5px white;
}

.left1:hover{
  transform:translateY(-40px);
  color:white; 
  text-shadow: 2px 2px;
}







/*.............body...........*/






 body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
  }
  h2 {
    font-size: 2rem;
    text-transform: uppercase;
    color: #FF69B4s;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }  
.exp{
  background:linear-gradient( 160deg,#ff69b4 55%, #fff 0%);
}
.abc{
  padding: 5px;
}


  .jumbotron {
   
    clip-path: polygon(100% 0%,100% 77%,50% 100%,0 75%, 0 0);
    background: radial-gradient(circle, rgba(255, 20, 147,1) 24%, rgba(255,255,255,1) 100%);
  

    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
  }
  .container-fluid {
    padding: 60px 50px;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  .logo-small {
    color: #f4511e;
    font-size: 50px;
  }
  .logo {
    color: #FF69B4;
    font-size: 100px;
  }
  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
  }
  .carousel-indicators li {
    border-color: #f4511e;
  }
  .carousel-indicators li.active {
    background-color: #f4511e;
  }
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  .item span {
    font-style: normal;
  }
  .panel {
    border: 1px solid #FF69B4; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
  }
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
    transform: translateY(20px);
  }
  .panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
  }
  .panel-heading {
    color: ##FF69B4 !important;
    background-color: #fff !important;
    padding:5px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-footer {
    background-color: white !important;
  }
  .panel-footer h3 {
    font-size: 32px;
  }
  .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
  }
  .panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
  }
  .navbar {
    margin-bottom: 0;
    background-color:#FF1493;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
  footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
  }
  .slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
      font-size: 150px;
    }
  }
 